:root {
    --dominant: #d2f3e0;
    --primary: #feb9c8;
    --secondary: #f6a7ba;
    --contrast: #f5fbf1;
    --primary-font: 'Oxygen', sans-serif;
    --accent-font: 'Questrial', sans-serif;
    --small-radius: 3px;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 500px;
    background-color: var(--dominant);
    font-family: var(--primary-font);
}

a, a:visited {
    text-decoration: none;
    color: var(--secondary);
}

a:hover, a:active {
    text-decoration: underline;
    color: var(--primary);
}

a[disabled] {
	color: gray;
	cursor: not-allowed;
}

header {
    box-shadow: 0 5px 10px var(--primary);
    background-color: white;
    text-align: center;
    padding: 1em 0;
}

header > h1 {
    margin: 0;
    font-family: var(--accent-font);
}

header > nav a::after {
    content: ' / ';
    width: 1em;
    display: inline-block;
    color: initial;
}
header > nav a:last-child::after {
    content: '';
}

main {
    max-width: 1200px;
    border: 2px solid var(--primary);
    background-color: white;
    margin: 1em auto;
    padding: 1em;
}

main .content-block > .title {
	background-color: var(--contrast);
	border: 1px solid var(--primary);
	padding: 0.5em;
}

footer {
    background-color: rgba(0, 0, 0, .75);
    color: white;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}

footer > div {
	max-width: 400px;
	padding: 1em;
	flex: 1 1 0;
	justify-content: center;
}

footer #links ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.note {
	border: 2px solid var(--secondary);
	border-radius: var(--small-radius);
	color: white;
}

.note.warning {
	background-color: orange;
	padding: 4px 1em;
}

.code {
	background-color: #DEDEDE;
	color: black;
	font-family: monospace;
	padding: 2px 8px;
}

#scores .content {
	color: white;
	background-color: var(--secondary);
	border-radius: var(--small-radius);
	display: flex;
	align-items: stretch;
	margin: 1em 0;
}

#scores .content a, #scores .content a:visited {
	color: white;
	text-shadow: 0 0 1px white;
}

#scores .content > div {
	border-right: 4px dashed var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 2em;
	flex-direction: column;
	text-align: center;
}

#scores .content > div:last-child {
	border-right: unset;
}

#scores .chart {
	flex-grow: 100;
}

#scores .player, #scores .points {
	width: 200px;
}

#scores .avatar {
	max-height: 64px;
	max-width: 64px;
	display: block;
	margin: 0.5em;
	border-radius: var(--small-radius);
}

#scores .mods > * {
	background-color: var(--primary);
	padding: 0.2em 0.5em;
	margin: 4px 1em;
	font-size: small;
	border-radius: var(--small-radius);
}

#scores .points {
	font-size: 1.3em;
}

#scores .judges {
	font-size: small;
	color: #ddd;
}

#scores .rank {
	font-size: xx-large;
}
