:root {
    /* --dominant: #d2f3e0; */
    /* --primary: #feb9c8; */
    /* --secondary: #f6a7ba; */
    /* --contrast: #f5fbf1; */
    --dominant: #ddd;
    --primary: #000;
    --secondary: #999;
    --link: #ce375b;
    --contrast: #fff;
    --primary-font: 'Oxygen', sans-serif;
    --accent-font: 'Questrial', sans-serif;
    --small-radius: 3px;
}

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 480px;
    background-color: var(--dominant);
    font-family: var(--primary-font);
}

a, a:visited {
    text-decoration: none;
    color: var(--link);
}

a:hover, a:active {
    text-decoration: underline;
    color: var(--primary);
}

a[disabled] {
	color: gray;
	cursor: not-allowed;
}

header {
    box-shadow: 0 5px 10px var(--primary);
    background-color: white;
    text-align: center;
    padding: 1em 0;
}

header > h1 {
    margin: 0;
    font-family: var(--accent-font);
}

header > nav a::after {
    content: ' / ';
    width: 1em;
    display: inline-block;
    color: initial;
}
header > nav a:last-child::after {
    content: '';
}

main {
    max-width: 1200px;
    border: 2px solid var(--primary);
    background-color: white;
    margin: 1em auto;
    padding: 1em;
}

main .content-block > .title {
	background-color: var(--contrast);
	border: 1px solid var(--primary);
	padding: 0.5em;
}

footer {
    background-color: rgba(0, 0, 0, .75);
    color: white;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer > div {
	max-width: 400px;
	padding: 1em;
	justify-content: center;
}

footer #links ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.note {
	border: 2px solid var(--secondary);
	border-radius: var(--small-radius);
	color: white;
}

.note.warning {
	background-color: orange;
	padding: 4px 1em;
}

.code {
	background-color: #DEDEDE;
	color: black;
	font-family: monospace;
	padding: 2px 8px;
}


.avatar {
	display: block;
	max-height: 64px;
	max-width: 64px;
	margin: 0.5em;
	object-fit: cover;
	box-sizing: content-box;
	border-radius: var(--small-radius);
}

.cover {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	filter: blur(4px) brightness(0.5);
}

.content-block {
	display: flex;
	flex-direction: column;
}

.content-block .title {
	flex: 0 1 100%;
}

#scores.mini {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#scores .content, #players .content {
	color: white;
	background-color: var(--secondary);
	border-radius: var(--small-radius);
	display: flex;
	margin: 1em 0;
}

#scores .content {
	align-items: stretch;
}

#players .content {
	align-items: center;
}

#players .content > * {
	padding: 0 0.5em;
}

#scores.mini .content {
	margin: 1em 0.5em;
}

#scores.mini.two .content {
	flex-basis: calc(50% - 1em);
}

#players .username {
	font-size: larger;
}

#scores .content a,
#scores .content a:visited,
#players .content a,
#players .content a:visited {
	color: white;
	text-shadow: 0 0 1px white;
}

#scores .content > div {
	border-right: 4px dashed var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0.5em;
	flex-direction: column;
	text-align: center;
}

#scores .content > div:nth-last-child(2) {
	border-right: unset;
}

#scores .content > div:last-child {
	border-right: unset;
	border-left: 4px dashed var(--primary);
}

#scores .chart {
	flex-grow: 100;
}

#scores .chart, #player .title, #chart .title {
	overflow: hidden;
	position: relative;
	padding: 0;
	background-color: black;
	color: white;
}

#scores .chart > *, #player .title > *, #chart .title > * {
	z-index: 2;
	position: relative;
	padding: 0.5em 0;
}

#scores .chart > .cover, #player .title > .cover, #chart .title > .cover {
	z-index: 1;
	position: absolute;
}

#scores .player {
	width: 170px;
}

#scores .result {
	width: 200px;
}

#player .avatar {
	max-height: 100px;
	max-width: 100px;
}

#player .title, #chart .title {
	display: flex;
	align-items: center;
}

#chart .title {
	flex-direction: column;
}

#chart .titles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chart .romanized-title {
	font-size: smaller;
}

#player .title .username {
	font-size: xx-large;
}

#scores .result > * {
	margin: 4px 0;
}

#scores .mods > *, #scores .flairs > * {
	border-radius: var(--small-radius);
	padding: 0.2em 0.5em;
	margin: 4px 1em;
}

#scores .mods > * {
	background-color: var(--primary);
	font-size: small;
}

#scores .flairs > * {
	background: linear-gradient(45deg, var(--primary), transparent);
	color: var(--contrast);
}

#scores .scoring {
	font-size: 1.3em;
}

#scores .judges, #scores .osmos-max, #scores .creator {
	font-size: small;
}

#scores .judges {
	color: #ddd;
}

#scores .rank {
	font-size: xx-large;
}
