<div class="content">
	{% if not no_profile %}
	<div class="player">
		{% if rank %}
		<strong class="rank">#{{ rank }}</strong>
		{% endif %}
		<a href="{{ url_for('player', id=score.player.id) }}">
			<img src="{{ score.player.avatar_url }}" class="avatar">
			<span class="username">{{ score.player.username }}</span>
		</a>
		<div class="time" title="{{ score.display_time() }}">
			<a href="{{ url_for('share', id=score.id) }}">
				{{ moment(score.achieved_at).fromNow() }}
			</a>
		</div>
	</div>
	{% endif %}
	{% if not no_chart %}
	<div class="chart">
		{% with cover_url = score.chart.get_osu_card_url() %}
		{% include "_cover.html" %}
		{% endwith %}
		<div class="song">
			<a
	   href="{{ url_for('chart', id=score.chart.id) }}"
	title="{{ score.chart.display_full_romanized() }}"
 >
 {{ score.chart.display_full_original() }}
			</a>
		</div>
		<div class="difficulty">
			<a href="{{ url_for('chart', id=score.chart.id) }}" class="difficulty-name">
				[{{ score.chart.difficulty_name }}]
				{{ score.chart.display_difficulty() }}⭐
			</a>
			<span class="creator">
				(set by {{ score.chart.creator_name }})
			</span>
		</div>
		{% if score.chart.ranked %}
		<div class="flairs"><span>ranked</span></div>
		{% endif %}
		<div class="mode">
			{{ score.mode }}
		</div>
		{% if no_profile %}
		<div class="time" title="{{ score.display_time() }}">
			<a href="{{ url_for('share', id=score.id) }}">
				{{ moment(score.achieved_at).fromNow() }}
			</a>
		</div>
		{% endif %}
	</div>
	{% endif %}
	<div class="result">
		<div class="scoring">
			<div class="accuracy">
				{{ score.display_accuracy() }}
			</div>
			<div class="osmos">
				<span class="osmos-got">
					{{ score.get_osmos(osu=True) }}pts
				</span>
				<span class="osmos-max">
					/ {{ score.get_osmos(osu=True, max=True) }}
				</span>
			</div>
		</div>
		<div class="judges">
			{{ score.display_judges() }}
		</div>
		<div class="rank">
			{{ score.display_rank() }}
		</div>
		<div class="mods">
			{% for mod in score.get_mods() %}
			{{ score.display_mod(mod) | safe }}
			{% endfor %}
		</div>
		<div class="flairs">
			{% for flair in score.flairs %}
			<span>{{ flair }}</span>
			{% endfor %}
		</div>
	</div>
</div>
