{% extends "base.html" %}

{% block content %}
<div id="meta" class="content-block">
	<div class="title">
		<h3>{{ chart.display_full_original() }}</h3>
		{% if chart.display_full_original() != chart.display_full_romanized() %}
		<div class="romanized-title">{{ chart.display_full_romanized() }}</div>
		{% endif %}
		<div class="difficulty">
			{{ chart.difficulty_name }} {{ chart.display_details('sr') }}⭐
			<span class="creator">({{ chart.creator_name }})</span>
		</div>
	</div>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>SR</th>
					<th>CS</th>
					<th>HP</th>
					<th>OD</th>
					<th>AR</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ chart.display_details('sr') }}</td>
					<td>{{ chart.display_details('cs') }}</td>
					<td>{{ chart.display_details('hp') }}</td>
					<td>{{ chart.display_details('od') }}</td>
					<td>{{ chart.display_details('ar') }}</td>
				</tr>
			</tbody>
		</table>
		{% if chart.get_osu_card_url() %}
		<img class="chart-card" src="{{ chart.get_osu_card_url() }}">
		{% endif %}
		<p>
			<a href="{{ chart.get_osu_link() }}">osu! leaderboard</a>
		</p>
	</div>
</div>
<div id="scores" class="content-block mini">
	<h3 class="title">Top 50</h3>
	{% with small=True %}
	{% for score in scores %}
	{% include "_score.html" %}
	{% endfor %}
	{% endwith %}
</div>

{% endblock %}
