{% extends "base.html" %}

{% block content %}
<div id="news" class="content-block">
	<h3 class="title">Latest news:</h3>
	<div class="content">
		<h4>Server launch</h4>
		<div class="meta">Dec 11, 2019</div>
		<p>
			After <a href="{{ url_for('static', filename='old.html') }}">announcing back in July</a>
			my plans of writing an accuracy-based leaderboard for <em>osu!</em>,
			I finally came up with a working v1.
		</p>
	</div>
</div>

<div id="scores" class="content-block">
	<h3 class="title">Latest scores:</h3>
	{% for score in scores %}
	{% include "_score.html" %}
	{% endfor %}
</div>

{% endblock %}
