{% extends "base.html" %}

{% block content %}
<div id="news" class="content-block">
	<h3 class="title">Latest news:</h3>
	<div class="content">
		<h4>Trying out osmos system</h4>
		<div class="meta">Dec 18, 2019</div>
		<p>
			Similar to <em>osu!</em>'s pp system, we are using a point system
			to rank players globally.
		</p>
		<p>
			Starting from today, you can see how many osmos you would gain from
			every score. When we will have enough ranked maps, the sum of your
			earned osmos from a set amount of your best plays on ranked maps
			will be displayed on your profile, and used to compete between
			players.
		</p>
		<p>
			The osmos amount is currently displayed where the Ex score was
			before.
		</p>
	</div>
	<div class="content">
		<h4>Server launch</h4>
		<div class="meta">Dec 11, 2019</div>
		<p>
			After <a href="{{ url_for('static', filename='old.html') }}">announcing back in July</a>
			my plans of writing an accuracy-based leaderboard for <em>osu!</em>,
			I finally came up with a working v1.
		</p>
	</div>
</div>

<div id="scores" class="content-block">
	<h3 class="title">Latest scores:</h3>
	{% for score in items %}
	{% include "_score.html" %}
	{% endfor %}
	{% include "_pager.html" %}
</div>

{% endblock %}
