{% extends "base.html" %}

{% block content %}
<div id="welcome" class="content-block">
	<h3 class="title">Welcome to Osmosis!</h3>
	<div class="content">
		<h4>What is Osmosis?</h4>
		<p>
			Osmosis is an alternative score server for the PC rhythm game
			<a href="https://osu.ppy.sh">osu!</a>. Its main goal is to provide
			an experience that rewards accuracy, as opposed to the official
			game and server which rewards combo way more.
		</p>
		<p>
			It is a project that I, <a href="{{ config.LINKS.DEV }}">Tina</a>,
			develop and manage on my free time.<br>
			The main idea is to see how it would be to play osu! if the only
			thing that matters were accuracy. Combo scoring is something that
			other rhythm games players often criticize osu! for. With this
			project, I'm trying to see if removing the combo factor effectively
			makes osu! a more pleasant experience for me.<br>
			As things went on, I also added or removed other features to the
			server and client to change osu! a bit in ways I like.
		</p>
		<p>
			For more information, please visit the
			<a href="{{ url_for('about') }}">About page</a>!<br>
			You can find a list of all server and client features there, and
			details on the server rules!
		</p>
		<p>
			If you need more information, if you want to involve yourself into
			ranking or making new charts, or if you need help setting up the
			client, please join our Discord server.
		</p>
		<p>
			<a href="{{ config.LINKS.DISCORD }}" class="button"><img src="{{ url_for('static', filename="join_discord.png") }}"></a>
		</p>
	</div>
	<!--
	<h3 class="title">Latest news:</h3>
	<div class="content">
		<h4>Trying out osmos system</h4>
		<div class="meta">Dec 18, 2019</div>
		<p>
			Similar to <em>osu!</em>'s pp system, we are using a point system
			to rank players globally.
		</p>
		<p>
			Starting from today, you can see how many osmos you would gain from
			every score. When we will have enough ranked maps, the sum of your
			earned osmos from a set amount of your best plays on ranked maps
			will be displayed on your profile, and used to compete between
			players.
		</p>
		<p>
			The osmos amount is currently displayed where the Ex score was
			before.
		</p>
	</div>
	<div class="content">
		<h4>Server launch</h4>
		<div class="meta">Dec 11, 2019</div>
		<p>
			After <a href="{{ url_for('static', filename='old.html') }}">announcing back in July</a>
			my plans of writing an accuracy-based leaderboard for <em>osu!</em>,
			I finally came up with a working v1.
		</p>
	</div>
	-->
</div>
<div id="future" class="content-block">
	<h3 class="title">Plans for the future</h3>
	<ul>
		<li>
			Add target/pacemaker feature.
		</li>
		<li>
			Group charts of the same song together on the website, even when
			they are from different beatmaps sets.
		</li>
		<li>
			Authentication without an osu! account.
		</li>
		<li>
			Display server leaderboards in the client.
		</li>
	</ul>
</div>

<div id="latest-scores" class="scores content-block">
	<h3 class="title">Latest scores:</h3>
	{% for score in items %}
	{% include "_score.html" %}
	{% endfor %}
	{% include "_pager.html" %}
</div>

{% endblock %}
