{% extends "base.html" %}

{% block content %}
<div id="players" class="content-block">
	<h3 class="title">Players</h3>
	{% for player in items %}
	{% set rank = loop.index + start_at %}
	<div class="content">
		<strong class="rank">#{{ rank }}</strong>
		<a href="{{ url_for('player', id=player.id) }}">
			<img src="{{ player.avatar_url }}" class="avatar">
		</a>
		<a href="{{ url_for('player', id=player.id) }}" class="username">
			{{ player.username }}
		</a>
		<p>
			({{ player.country }})
		</p>
		<p>
			Plays: {{ player.scores.count() }}
		</p>
		<p>
			Osmos: {{ player.osmos }}
		</p>
	</div>
	{% endfor %}
	{% include "_pager.html" %}
</div>
{% endblock content %}
