{% extends "base.html" %}

{% block content %}
<div id="player" class="content-block">
	<div class="title">
		{% with cover_url = player.cover_url %}
		{% include "_cover.html" %}
		{% endwith %}
		<img src="{{ player.avatar_url }}" class="avatar">
		<h3 class="username">{{ player.username }}</h3>
	</div>
	<div class="content">
		{% if player.osu_join_date %}
		<p>
			Joined osu! {{ moment(player.osu_join_date).fromNow() }}
			({{ moment(player.osu_join_date).format() }})
		</p>
		{% endif %}
		{% if player.joined_at %}
		<p>
			Joined osmosis {{ moment(player.joined_at).fromNow() }}
			({{ moment(player.joined_at).format() }})
		</p>
		{% endif %}
		{% if player.country %}
		<p>
			From {{ player.country }}
		</p>
		{% endif %}
		<div>
			{% if player.twitter %}
			<p>
				Twitter: <a href="https://twitter.com/{{ player.twitter }}">
					@{{ player.twitter }}
			</a>
			</p>
			{% endif %}
			{% if player.discord %}
			<p>
				Discord: {{ player.discord }}
			</p>
			{% endif %}
			{% if player.website %}
			<p>
				Website: <a href="{{ player.website }}">{{ player.website }}</a>
			</p>
			{% endif %}
		</div>
		<div>
			{# <table> #}
			{# 	<thead> #}
			{# 		<tr> #}
			{# 			{% for rank in player.get_all_ranks(just_names=True) %} #}
			{# 			<th>{{ rank }}</th> #}
			{# 			{% endfor %} #}
			{# 		</tr> #}
			{# 	</thead> #}
			{# 	<tbody> #}
			{# 		<tr> #}
			{# 			{% for rank in player.get_all_ranks().values() %} #}
			{# 			<td>{{ rank }}</td> #}
			{# 			{% endfor %} #}
			{# 		</tr> #}
			{# 	</tbody> #}
			{# </table> #}
			<p>
				Plays: {{ player.scores.count() }}
			</p>
		</div>
		<p>
			<a href="{{ player.get_osu_link() }}">osu! profile</a>
		</p>
	</div>
</div>
<div id="scores" class="content-block mini two">
	<h3 class="title">Scores:</h3>
	{% with no_profile=True %}
	{% for score in items %}
	{% include "_score.html" %}
	{% endfor %}
	{% endwith %}
	{% include "_pager.html" %}
</div>
{% endblock content %}
