{% extends "base.html" %}

{% block content %}
<div id="players" class="content-block">
	<h3 class="title">Players</h3>
	{% for player in players %}
	<div class="content">
		<a href="{{ url_for('player', id=player.id) }}">
			<img src="{{ player.avatar_url }}" class="avatar">
		</a>
		<a href="{{ url_for('player', id=player.id) }}" class="username">
			{{ player.username }}
		</a>
		<p>
			({{ player.country }})
		</p>
		<p>
			Plays: {{ player.scores.count() }}
		</p>
		{# <p> #}
		{# 	S and +: {{ player.get_ranks('S', above=True) }} #}
		{# </p> #}
	</div>
	{% endfor %}
</div>
{% endblock content %}
