{% extends "base.html" %}

{% block content %}

<div id="manual" class="content-block">
	<h3 class="title">Manual installing</h3>
	<div class="content">
		<ol>
			<li>Download <a href="{{ config.LINKS.FORK }}">Tina's osu! fork</a></li>
			<li>
				<a href="{{ config.LINKS.PUSHER }}">Download the <em>osmosis</em> score pusher</a> and
				<a href="https://superuser.com/a/737554">put it somewhere in your PATH</a>.
				<p class="note warning">
					It has to be named exactly <span class="code">osmosis_pusher</span> or <span class="code">osmosis_pusher.exe</span>!
				</p>
			</li>
			<li>Download and install <a href="{{ config.LINKS.DOTNET }}">Microsoft's .NET Core 3.0 SDK</a></li>
			<li>
				Compile Tina's osu! or run it from source:
				<ul>
					<li>
						Open a command prompt in the repository folder, on Windows you can do
						<em>Shift+Right Click</em> and select "Open a Terminal here" or
						"Open PowerShell here".
					</li>
					<li>
						<span class="code">dotnet run --project osu.Desktop -c Release</span>
						to run it directly without making production-ready compiled binaries
					</li>
				</ul>
			</li>
			<li>
				You are ready to go! When you'll complete songs while playing <em>osu!</em>,
				your scores will automatically be pushed to the server.
			</li>
		</ol>
	</div>
</div>
<div id="script" class="content-block">
	<h3 class="title">Script</h3>
	<div class="content">
		<p>
			<a href="https://github.com/skielred/osmosis/releases/latest/download/osmosis_play.ps1">Download the latest version of the script</a>,
			put it somewhere you like, <span class="code">D:\Games\osmosis</span>
			might be a good place to start. Then execute the script. It should
			take care of everything.
		</p>
		<p class="note warning">
			Your antivirus might be blocking the game, please look out for that!
		</p>
		<p>
			To troubleshot any problem with the script, go to the script folder and open a Powershell window
		</p>
		<p>
			If this is the first time you run a PowerShell script by hand, you might need to run
			<span class="code">Set-ExecutionPolicy -ExecutionPolicy Undefined</span> first.
		</p>
		<p>
			Type <span class="code">.\osmosis_play.ps1</span>, and read the output.
		</p>
	</div>
</div>
<div id="prebuilt" class="content-block">
	<h3 class="title">Pre-compiled builds</h3>
	<div class="content">
		<p>
			There are no public builds, however you can try asking me over on
			<a href="{{ config.LINKS.DISCORD }}">osmosis' Discord server</a>.
		</p>
	</div>
</div>

{% endblock %}
